/* Hide all but the first selected item */
.dropdown-container .Select-multi-value:not(:first-of-type) {
    display: none;
}

/* Show a custom indicator to indicate more items are selected */
.dropdown-container .Select-multi-value::after {
    content: '...';
    display: inline-block;
    color: #000;
    margin-left: 5px;
    font-weight: bold;
}
