/* assets/styles.css */
.dropdown-container .Select-multi-value:not(:first-of-type) {
    display: none;
}

.dropdown-container .Select-multi-value:first-of-type + .Select-clear-zone,
.dropdown-container .Select-multi-value:first-of-type + .Select-arrow-zone {
    display: none;
}

.dropdown-container .Select-multi-value:first-of-type::after {
    content: '...';
    display: inline-block;
    color: #000;
    margin-left: 5px;
    font-weight: bold;
}
